<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Memotest</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <main class="main-page">
    <h1 class="page__title">Memo Game</h1>
    <select class="cards__select" name="cards__select" id="">
      <option value="4">4</option>
      <option value="6">6</option>
      <option value="8">8</option>
    </select>
    <section class="cards">
    </section>
  </main>
  <script src="assets/js/main.js"></script>
</body>
</html>
